
// ROOTS
$bg1:#f5f5f5;
$bg2:#f0f0f0;
$text1:#161616;
$text3:#747474;
$accent1:#ff3c00;

// DEFAULT STYLES
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $text1;
}

button{
    background: transparent;
    border: none;
    outline: none;
}

a{
    text-decoration: none;
}

i::before{
    font-size: 1.5rem;
}

body {
    background-color: $bg1;
    background-image: repeating-linear-gradient(to right, #ededed8a, #ededed8a 1px, transparent 1px, transparent);
    background-size: 20vw 20vw;
    background-color: rgba(255, 255, 255, 0);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    >#nav_left{
        font-size: 1.5rem;
        font-weight: 600;
    }

    >#nav_middle{
        font-size: .8rem;
    }

    >#nav_right{
        >#menu_button{
            width: 3.3rem;
            aspect-ratio: 1/1;
            border-radius: .3rem;
            background-color: $bg2;
        }
    }
}



.underline_link{
    text-decoration: underline;
    text-underline-offset: 2px;

    i::before{
        font-size: 1.3em !important;
    }
}

.index_content_type_1{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;
    >p{
        width: 70%;
        font-size: 1.3rem;
    }

    div{
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
        >div{
            width: 47%;
            display: flex;
            flex-direction: column;
            gap: .7rem;
            font-size: .8rem;
        }
    }
}


main{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    >a{
        font-size: 1.1rem;
    }

    >#index_part_1{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        >h1{
            font-size: 2rem;
            text-align: center;
        }

        >a{
            padding: 1rem 2rem;
            border: 1px solid $text1;
            border-radius: .4rem;
            font-size: .9rem;
            font-weight: 500;
        }

        >div{
            width: 100%;
            aspect-ratio: 1/1;

            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: .6rem;
                // filter: brightness(100%) saturate(100%) sepia(100%) hue-rotate(-30deg) saturate(500%) brightness(100%);
            }
        }
    }

    >#index_part_2{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        >.img_wrapper{
            width: 100%;

        }

        >h1{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.8rem;
            gap: .5rem;
            span:nth-last-child(1){
                color: $text3;
            }
        }

     
        
    }

    >#index_part_3{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        >h1{
            text-align: center;
        }

        >#index_part_3_content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            // gap: 1rem;
            >div{
                width: 50%;
                height: 15rem;
                border: 1px solid $bg1;
                border-bottom: unset;
                position: relative;
               
                overflow: hidden;

              
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    filter: saturate(80%);
                    z-index: -1;
                }

                &:hover{

                    >img{
                        filter: saturate(100%) !important;
                    }
                    
                }

                >span{
                    display: inline-block;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $bg1;
                    z-index: 2 !important;
                    position: absolute;
                    bottom: 1rem;
                    width: 100%;
                    text-align: center;
                }
                
                &:nth-child(1){
                    border-top-left-radius: .3rem;
                }
                &:nth-child(2){
                    border-top-right-radius: .3rem;
                }
                &:nth-last-child(1){
                    border-bottom-right-radius:.3rem ;
                    border-bottom: 1px solid $text3;
                }
                &:nth-last-child(2){
                    border-bottom-left-radius:.3rem ;
                    border-bottom: 1px solid $text3;
                }

                &:nth-child(even){
                    border-left: unset;
                }
            }
        }
    }
    
}



footer{
    width: 100%;
    height: 60vh;
}